# Core Dependencies
streamlit==1.27.2
pandas==2.1.1
numpy==1.26.0
scikit-learn==1.3.1
pyarrow==12.0.0
matplotlib==3.8.0
seaborn==0.13.2
nltk==3.9.1


# Utilities
requests==2.31.0
typing_extensions==4.8.0
tenacity==8.2.3

# Streamlit Extensions (Only if used)
st-pages==0.4.5
streamlit-option-menu==0.3.6
streamlit-card==0.0.61
